# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=gvw5lffp
CLOUDINARY_API_KEY=pon_aqui_tu_api_key
CLOUDINARY_API_SECRET=pon_aqui_tu_api_secret
CLOUDINARY_FOLDER=home/fotos-evento

# Google Sheet / Apps Script
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycby0iX0uptXopbDu_P9VDb069Q6c9FIojEXNkcbktOXC28WOMRjyaDDR6geeJBV7-Aau/exec
